
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.item-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin: 1em;
}

.item{    
    position: relative;
    border: solid 1px rgba(207, 187, 187, 0.418);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    &__item-img {
        width: auto;
        max-height: 100px
    }
    & p {
      margin: 20px 35px 20px 35px;
      text-align: center;
      line-height: 30px;
      font-family: 'Montserrat', sans-serif;
    }
}

.toggle-heart {
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;    
    opacity: 0;
    cursor: pointer;
  }

  .favor-icon--js-non-active {
    margin: 15px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

.favor-icon--js-active {
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding-bottom: 20px;
  cursor: pointer;
  color: gold;
  fill: gold;
}
